@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css");
body {
    max-width: 1000px;
    margin: 1em auto 0 auto;
}

h2 a, h2 a:hover, h2 a:visited, h2 a:active, h2 a:focus {
    text-decoration: none;
    color: inherit;
}

tr.active{
    background-color: rgba(151,187,205,1);
    font-weight: bold;
}
