<!doctype html>
<html ng-app="ubermon">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ubermon</title>
    <meta name="description" content="Free website monitoring and alerts, with checks once per minute.">
    <script type="text/javascript" src="/dist/bower_components.js"></script>
    <script type="text/javascript" src="/js/ubermon.js"></script>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div class="container-fluid main">
    <div ng-include="'/partial/header.html'"></div>
    <!-- - - - - - - - - - - BEGIN PAGE - - - - - - - - - -  -->
    <div ng-controller="ubermonDashboard">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">My Monitors</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <td colspan="3">
                                <a ng-click="showCreateMonitorModal=true" href="javascript:void(0)">+ Create New
                                    Monitor</a>
                            </td>
                            <tr data-monitor-id="{{monitor.id}}"
                                ng-repeat="monitor in monitors"
                                ng-click="selectMonitor(monitor)"
                                style="cursor: pointer;">
                                <td>
                                    <a ng-bind="monitor.name" href="javascript:void(0)"></a>
                                </td>
                                <td>
                                    <span ng-show="monitor.up===true">UP</span>
                                    <span ng-show="monitor.up===false">DOWN</span>
                                    <span ng-show="monitor.up===null">STARTED</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{currentMonitor.name}}</h3>
                    </div>
                    <div class="panel-body">
                        <div>
                            Type: <span ng-bind="monitorTypes[currentMonitor.type]"></span>
                        </div>
                        <div>
                            URL: <span ng-bind="currentMonitor.url"></span>
                        </div>
                        <div>
                            Interval: <span ng-bind="monitorIntervals[currentMonitor.interval]"></span>
                        </div>
                        <!--<div>-->
                        <!--Uptime: <strike>Unknown</strike>-->
                        <!--</div>-->
                        <br>
                        <h4 style="display: inline">Response Time</h4> (ms)
                        <div ng-show="currentMonitor.pingChart.data[0]">
                            <canvas id="line" class="chart chart-line" width="100" height="30"
                                    chart-data="currentMonitor.pingChart.data"
                                    chart-labels="currentMonitor.pingChart.labels"
                                    chart-click="onClick"
                                    chart-options="{showXLabels: 5, showTooltips: false, bezierCurve : false, animation: false}">
                            </canvas>
                        </div>
                        <h4>Latest Events</h4>
                        <table class="table">
                            <tr>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Reason</th>
                                <!--<th>Duration</th>-->
                            </tr>
                            <tr ng-repeat="event in currentMonitor.events">
                                <td>
                                    <span ng-show="event.type=='u'">UP</span>
                                    <span ng-show="event.type=='d'">DOWN</span>
                                    <span ng-show="event.type=='p'">PAUSED</span>
                                    <span ng-show="event.type=='s'">STARTED</span>
                                </td>
                                <td ng-bind="event.date"></td>
                                <td ng-bind="event.reason"></td>
                                <!--<td><strike>Unknown</strike></td>-->
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade in" ng-class="{show: showCreateMonitorModal}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create New Monitor</h4>
                    </div>
                    <div class="modal-body">
                        <form ng-submit="createMonitor(newMonitor)" role="form">
                            <div class="form-group">
                                <label for="type">Type</label>
                                <select ng-model="newMonitor.type" id="type">
                                    <option value="h" ng-bind="monitorTypes['h']"></option>
                                    <!--<option value="p" ng-bind="monitorTypes['p']"></option>-->
                                    <!--<option value="o" ng-bind="monitorTypes['o']"></option>-->
                                    <!--<option value="k" ng-bind="monitorTypes['k']"></option>-->
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="name">Friendly Name</label>
                                <input ng-model="newMonitor.name" type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="url">URL (or IP)</label>
                                <input ng-model="newMonitor.url" type="text" class="form-control" id="url">
                            </div>
                            <div class="form-group">
                                <label for="interval">Monitoring Interval</label>
                                <select ng-model="newMonitor.interval" id="interval">
                                    <option value="1" ng-bind="monitorIntervals[1]"></option>
                                    <option value="2" ng-bind="monitorIntervals[2]"></option>
                                    <option value="5" ng-bind="monitorIntervals[5]"></option>
                                    <option value="10" ng-bind="monitorIntervals[10]"></option>
                                    <option value="15" ng-bind="monitorIntervals[15]"></option>
                                    <option value="20" ng-bind="monitorIntervals[20]"></option>
                                    <option value="30" ng-bind="monitorIntervals[30]"></option>
                                    <option value="60" ng-bind="monitorIntervals[60]"></option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="showCreateMonitorModal=false">Close
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="createMonitor(newMonitor)">Create
                            Monitor
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- - - - - - - - - - - END PAGE - - - - - - - - - -  -->
</div>
</body>
</html>
