<!doctype html>
<html ng-app="ubermon">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ubermon</title>
    <meta name="description" content="Free website monitoring and alerts">
    <script type="text/javascript" src="/dist/bower_components.min.js"></script>
    <script type="text/javascript" src="/js/ubermon.js"></script>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div class="container-fluid main">
    <div ng-include="'/partial/header.html'"></div>
    <!-- - - - - - - - - - - BEGIN PAGE - - - - - - - - - -  -->
    <div ng-controller="ubermonDashboard">

        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-danger">
                    Your email has not been confirmed! Please confirm your email within 24 hours of creating your account or all your monitors will be paused.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">My Monitors</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <td colspan="4">
                                <a ng-click="popCreateMonitorModal()" href="javascript:void(0)">+ Create New
                                    Monitor</a>
                            </td>
                            <tr data-monitor-id="{{monitor.id}}"
                                ng-repeat="monitor in monitors"
                                ng-click="selectMonitor(monitor)"
                                style="cursor: pointer;">
                                <td>
                                    <a ng-bind="monitor.name" href="javascript:void(0)"></a>
                                </td>
                                <td>
                                    <span ng-show="monitor.up===true">UP</span>
                                    <span ng-show="monitor.up===false">DOWN</span>
                                    <span ng-show="monitor.up===null">STARTED</span>
                                </td>
                                <td>
                                    <a ng-click="editMonitor(monitor)" href="javascript:void(0)">edit</a>
                                    <a ng-click="deleteMonitor(monitor)" href="javascript:void(0)">delete</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-8" ng-show="currentMonitor.url">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{currentMonitor.name}}</h3>
                    </div>
                    <div class="panel-body">
                        <!--<div>-->
                        <!--Type: <span ng-bind="monitorTypes[currentMonitor.type]"></span>-->
                        <!--</div>-->
                        <div>
                            URL: <span ng-bind="currentMonitor.url"></span>
                        </div>
                        <div>
                            Interval: <span ng-bind="monitorIntervals[currentMonitor.interval]"></span>
                        </div>
                        <!--<div>-->
                        <!--Uptime: <strike>Unknown</strike>-->
                        <!--</div>-->
                        <br>
                        <h4 style="display: inline">Response Time</h4> (ms)
                        <div ng-show="currentMonitor.pingChart.data[0]">
                            <canvas id="line" class="chart chart-line" width="100" height="30"
                                    chart-data="currentMonitor.pingChart.data"
                                    chart-labels="currentMonitor.pingChart.labels"
                                    chart-click="onClick"
                                    chart-options="{showXLabels: 5, showTooltips: false, bezierCurve : false, animation: false}">
                            </canvas>
                        </div>
                        <h4>Latest Events</h4>
                        <table class="table">
                            <tr>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Reason</th>
                                <!--<th>Duration</th>-->
                            </tr>
                            <tr ng-repeat="event in currentMonitor.events">
                                <td>
                                    <span ng-show="event.type=='u'">UP</span>
                                    <span ng-show="event.type=='d'">DOWN</span>
                                    <span ng-show="event.type=='p'">PAUSED</span>
                                    <span ng-show="event.type=='s'">STARTED</span>
                                </td>
                                <td ng-bind="event.date"></td>
                                <td ng-bind="event.reason"></td>
                                <!--<td><strike>Unknown</strike></td>-->
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade in" ng-class="{show: showCreateMonitorModal}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create New Monitor</h4>
                    </div>
                    <div class="modal-body">
                        <form ng-submit="createMonitor(newMonitor)" role="form">
                            <div ubermon-monitor-edit
                                 monitor="newMonitor"
                                 monitor-types="monitorTypes"
                                 monitor-intervals="monitorIntervals"
                                 contacts="contacts"
                                 pop-create-contact-modal="popCreateContactModal"
                                 selected-contacts="newMonitor.contactIds"></div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="showCreateMonitorModal=false">Close
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="createMonitor(newMonitor)">Create
                            Monitor
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade in" ng-class="{show: showEditMonitorModal}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Monitor</h4>
                    </div>
                    <div class="modal-body">
                        <form ng-submit="updateMonitor(currentMonitor)" role="form">
                            <div ubermon-monitor-edit
                                 monitor="currentMonitor"
                                 monitor-types="monitorTypes"
                                 monitor-intervals="monitorIntervals"
                                 contacts="contacts"
                                 pop-create-contact-modal="popCreateContactModal"
                                 selected-contacts="currentMonitor.contactIds"
                                    ></div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="cancelEditMonitor()">Close
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="updateMonitor(currentMonitor)">Save
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade in" ng-class="{show: showCreateContactModal}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create New Monitor</h4>
                    </div>
                    <div class="modal-body">
                        <form ng-submit="createContact(newContact)" role="form">
                            <div ubermon-contact-edit
                                 contact="newContact"></div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="showCreateContactModal=false">Close
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="createContact(newContact)">Create
                            Contact
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- - - - - - - - - - - END PAGE - - - - - - - - - -  -->
</div>
</body>
</html>
