<div class="row">
    <div class="col-sm-6">
        <h2 style="display: inline"><a href="/">Ubermon</a></h2>
            Website downtime alerts. Free, simple, and easy.
    </div>
    <div class="col-sm-6">
        <div style="float: right">
            <a href="/">Home</a> |
            <a href="/privacy/">Privacy</a> |
            <a href="/terms/">Terms</a> |
            <a href="/contact/">Contact Us</a> |
            <a href="/dashboard/">My Monitors</a>
        </div>
    </div>
</div>
<br>
