<!--<div class="form-group">-->
    <!--<label for="type">Type</label>-->
    <!--<select ng-model="monitor.type" id="type">-->
        <!--<option value="h" ng-bind="monitorTypes['h']"></option>-->
        <!--&lt;!&ndash;<option value="p" ng-bind="monitorTypes['p']"></option>&ndash;&gt;-->
        <!--&lt;!&ndash;<option value="o" ng-bind="monitorTypes['o']"></option>&ndash;&gt;-->
        <!--&lt;!&ndash;<option value="k" ng-bind="monitorTypes['k']"></option>&ndash;&gt;-->
    <!--</select>-->
<!--</div>-->
<div class="form-group">
    <label for="name">Friendly Name</label>
    <input ng-model="monitor.name" type="text" class="form-control" id="name">
</div>
<div class="form-group">
    <label for="url">URL (or IP)</label>
    <input ng-model="monitor.url" type="text" class="form-control" id="url">
</div>
<div class="form-group">
    <label for="interval">Monitoring Interval</label>
    <select ng-model="monitor.interval" id="interval">
        <!--<option value="1" ng-bind="monitorIntervals[1]"></option>-->
        <!--<option value="2" ng-bind="monitorIntervals[2]"></option>-->
        <option value="5" ng-bind="monitorIntervals[5]"></option>
        <option value="10" ng-bind="monitorIntervals[10]"></option>
        <option value="15" ng-bind="monitorIntervals[15]"></option>
        <option value="20" ng-bind="monitorIntervals[20]"></option>
        <option value="30" ng-bind="monitorIntervals[30]"></option>
        <option value="60" ng-bind="monitorIntervals[60]"></option>
    </select>
</div>

<div class="form-group">
    <label>Contacts to Alert</label>
    <a ng-click="popCreateContactModal()" href="javascript:void(0)">
        + Create New Contact
    </a>
    <div ng-repeat="contact in contacts">
        <label style="font-weight: normal">
            <input type="checkbox" ng-name="contact.id" value="1"
                   ng-checked="selectedContacts.indexOf(contact.id) > -1"
                   ng-click="toogleSelectedContact(contact.id)">&nbsp;
            <span ng-bind="contact.email"></span>
        </label>
    </div>
</div>
