<div class="modal fade in" ng-class="{show: editableMonitor}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Monitor</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="updateMonitor(editableMonitor)" role="form">
                    <ubermon-monitor-edit
                            monitor="editableMonitor"
                            monitor-types="monitorTypes"
                            monitor-intervals="monitorIntervals"
                            contacts="contacts"
                            pop-create-contact-modal="popCreateContactModal"
                            selected-contacts="editableMonitor.contactIds"
                            ></ubermon-monitor-edit>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancelEditMonitor()">Cancel
                </button>
                <button type="button" class="btn btn-primary" ng-click="updateMonitor(editableMonitor)">Save
                </button>
            </div>
        </div>
    </div>
</div>
