<!doctype html>
<html ng-app="ubermon">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ubermon</title>
    <meta name="description" content="Website downtime alerts. Free, simple, and easy.">
    <script type="text/javascript" src="/dist/bower_components.min.js"></script>
    <script type="text/javascript" src="/js/ubermon.js"></script>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div class="container-fluid main">
    <div ng-include="'/partial/header.html'"></div>
    <!-- - - - - - - - - - - BEGIN PAGE - - - - - - - - - -  -->
    <script src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>
    <div ng-controller="ubermonResetPassword">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Reset Password</h3>
                    </div>
                    <div class="panel-body" ng-hide="fromEmail">
                        <div class="alert alert-danger" ng-bind="error" ng-show="error"></div>
                        <div class="alert alert-success" ng-show="resetEmailSent">
                            We sent you a password reset email. Please check your email and click the link inside to
                            reset you password.
                        </div>
                        <form ng-submit="resetPassword(resetPasswordEmail)" role="form" ng-hide="resetEmailSent">
                            <div class="form-group">
                                <label for="resetPasswordEmail">Email address:</label>
                                <input ng-model="resetPasswordEmail" type="email" class="form-control"
                                       id="resetPasswordEmail">
                            </div>
                            <button type="submit" class="btn btn-primary">Reset Password</button>
                        </form>
                    </div>
                    <div class="panel-body" ng-show="fromEmail">
                        <div class="alert alert-danger" ng-bind="error" ng-show="error"></div>
                        <div class="alert alert-success" ng-show="passwordChanged">
                            Your password has been changed. You may now <a href="/">login</a>.
                        </div>
                        <form ng-submit="changePassword(newPassword)" role="form" ng-hide="passwordChanged">
                            <div class="form-group">
                                <label for="newPassword">New Password:</label>
                                <input ng-model="newPassword" type="password" class="form-control" id="newPassword">
                            </div>
                            <button type="submit" class="btn btn-primary">Change Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- - - - - - - - - - - END PAGE - - - - - - - - - -  -->
</div>
</body>
</html>
