<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">My Monitors</h3>
            </div>
            <div class="panel-body">
                <button ng-click="popCreateMonitorModal()" class="btn btn-default btn-sm" style="width:100%">
                    <span class="glyphicon glyphicon-plus"></span>
                    &nbsp;
                    Create new monitor
                </button>
                <div ng-show="monitors.length != 0">
                    <br>
                </div>
                <table class="table table-hover" ng-show="monitors.length != 0">
                    <tr data-monitor-id="{{monitor.id}}"
                        ng-repeat="monitor in monitors"
                        ng-click="selectMonitor(monitor)"
                        style="cursor: pointer;"
                        ng-class="{'active':monitor.id==selectedMonitor.id}">
                        <td style="">
                                    <span ng-show="monitor.up===true"
                                          class="text-success glyphicon glyphicon-ok"
                                          title="Status: Up"></span>
                                    <span ng-show="monitor.up===false"
                                          class="text-danger glyphicon glyphicon-remove"
                                          title="Status: Down"></span>
                                    <span ng-show="monitor.up===null"
                                          class="text-primary glyphicon glyphicon-question-sign"
                                          title="Status: Starting"></span>
                            &nbsp;
                            <span ng-bind="monitor.name"></span>

                            <button ng-click="deleteMonitor(monitor)" style="float:right"
                                    class="btn btn-default btn-xs">
                                        <span class="glyphicon glyphicon-trash"
                                              title="Delete"
                                                ></span>
                            </button>
                            <span style="float:right">&nbsp;</span>
                            <button ng-click="popEditMonitorModal(monitor)" style="float:right"
                                    class="btn btn-default btn-xs">
                                        <span class="glyphicon glyphicon-edit"
                                              title="Edit"
                                                ></span>
                            </button>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-8" ng-show="selectedMonitor">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Selected Monitor</h3>
            </div>
            <div class="panel-body">
                <ubermon-monitor-details-display selected-monitor="selectedMonitor"
                                                 handle-server-error="handleServerError"
                                                 monitor-intervals="monitorIntervals">
                </ubermon-monitor-details-display>
            </div>
        </div>
    </div>
    <div class="col-sm-8" ng-show="monitors.length == 0">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Welcome to Ubermon!</h3>
            </div>
            <div class="panel-body">
                <p>
                    Click "Create new monitor" on the left to get started.
                </p>
            </div>
        </div>
    </div>
</div>


<ubermon-create-monitor-dialog new-monitor="newMonitor"
                               watch-for-pending-update="watchForPendingUpdate"
                               monitor-intervals="monitorIntervals"
                               select-monitor="selectMonitor"
                               monitors="monitors"
                               contacts="contacts">
</ubermon-create-monitor-dialog>

<ubermon-edit-monitor-dialog editable-monitor="editableMonitor"
                             watch-for-pending-update="watchForPendingUpdate"
                             monitor-intervals="monitorIntervals"
                             contacts="contacts">
</ubermon-edit-monitor-dialog>

<!--<div class="modal fade in" ng-class="{show: showCreateContactModal}">-->
<!--<div class="modal-dialog">-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<h4 class="modal-title">Create New Contact</h4>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<form ng-submit="createContact(newContact)" role="form">-->
<!--<ubermon-contact-edit contact="newContact"></ubermon-contact-edit>-->
<!--</form>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button type="button" class="btn btn-default" ng-click="showCreateContactModal=false">Cancel-->
<!--</button>-->
<!--<button type="button" class="btn btn-primary" ng-click="createContact(newContact)">Create-->
<!--Contact-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
