<div class="modal fade in" ng-class="{show: newMonitor}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create New Monitor</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="createMonitor(newMonitor)" role="form">
                    <ubermon-monitor-edit
                            monitor="newMonitor"
                            monitor-types="monitorTypes"
                            monitor-intervals="monitorIntervals"
                            contacts="contacts"
                            pop-create-contact-modal="popCreateContactModal"
                            selected-contacts="newMonitor.contactIds"></ubermon-monitor-edit>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancelCreateMonitor()">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" ng-click="createMonitor(newMonitor)">
                    Create Monitor
                </button>
            </div>
        </div>
    </div>
</div>
