<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">My Monitors</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr data-monitor-id="{{monitor.id}}"
                        ng-repeat="monitor in monitors"
                        ng-click="selectMonitor(monitor)">
                        <td>
                            <a ng-bind="monitor.name" href="javascript:void(0)"></a>
                        </td>
                        <td>
                            <span ng-show="monitor.up">UP</span>
                            <span ng-show="!monitor.up">DOWN</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Monitor {{currentMonitor.name}}</h3>
            </div>
            <div class="panel-body">
                <div ng-bind="currentMonitor.url"></div>
                <h3>Latest Events</h3>
                <table class="table">
                    <tr>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Reason</th>
                        <th>Duration</th>
                    </tr>
                    <tr ng-repeat="event in events">
                        <td>
                            <span ng-show="event.type=='u'">UP</span>
                            <span ng-show="event.type=='d'">DOWN</span>
                            <span ng-show="event.type=='p'">PAUSED</span>
                            <span ng-show="event.type=='s'">STARTED</span>
                        </td>
                        <td ng-bind="event.date"></td>
                        <td ng-bind="event.reason"></td>
                        <td>Unknown</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Create Monitor</h3>
            </div>
            <form ng-submit="createMonitor(newMonitor)" role="form">
                <div class="form-group">
                    <label for="type">Type</label>
                    <select ng-model="newMonitor.type" id="type">
                        <option value="h">HTTP(s)</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">Friendly Name</label>
                    <input ng-model="newMonitor.name" type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="url">URL (or IP)</label>
                    <input ng-model="newMonitor.url" type="text" class="form-control" id="url">
                </div>
                <div class="form-group">
                    <label for="interval">Monitoring Interval (minutes)</label>
                    <select ng-model="newMonitor.interval" id="interval">
                        <option value="1">1</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-default">Create Monitor</button>
            </form>
        </div>
    </div>
</div>
